<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>Welcome to the text analayzer . Enter your text here</h1>
    <form action="analyze" method="get">
      <textarea name="text" style="width: 1437px; height: 167px"></textarea
      ><br />
      <input type="checkbox" name="rempunc" /> Remove Punchuation <br />
      <input type="checkbox" name="fullcap" /> Full capitalized <br />
      <input type="checkbox" name="newlinerem" />New Line Remove <br />
      <input type="checkbox" name="charcount">Count Character <br>

      <button>Analyze Text</button>
    </form>
  </body>
</html>
